@use "component/PokemonThumbnails/Thumbnail/thumbnail";
@use "component/PokemonThumbnails/PokemonThumbnails";
@use "component/PokemonDetails/pokemonDetails";
@use "component/PokemonThumbnails/header/header";
@use "component/PokemonDetails/DetailSpec/detailSpec";
@use "component/PokemonThumbnails/popUp/popUp.scss";

html {
    font-size: 62.5%;
}

body{
    margin : 0 0;
}

.root {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p {
    margin: 0;
    margin-block-start:0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
ul {
    margin: 0;
    padding-inline-start: 0;
}